<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Settings | LOW</title>
    <link rel="stylesheet" href="settings_style.css">
    <link rel="icon" type="image/x-icon" href="/img/favicon.png">
  </head>
  <body>
    <div class="nav">
      <nav>
        <div class="site-header">
          <div class="site-name">
            <a href="/">Legend of Words</a>
          </div>
          <div class="categories">
            <a href="#" class="category-link">Map</a>
            <a href="#" class="category-link">Messages</a>
            <a href="/wip" class="category-link">Forum</a>
            <a href="#" class="category-link">Encyclopedia</a>
            <a href="/wip" class="category-link">Updates</a>
          </div>
          <div class="auth-buttons"><% if (user) { %> <div class="user-dropdown">
              <span class="username"><%= user.username %> </span>
              <div class="dropdown-content">
                <a href="#">Profile</a>
                <a href="/settings">Settings</a>
                <a href="/logout">Logout</a>
              </div>
            </div><% } else { %> <a href="login.html" class="login-btn">Login</a>
            <a href="registration.html" class="register-btn">Register</a><% } %>
          </div>
        </div>
      </nav>
    </div>
    <div class="container">
      <div class="register-form">
        <h1>Settings</h1>
        <div class="user-info">
          <p>Username: <span id="usernameSpan"><%= user.username %> </span>
            <button class="edit-btn" id="editUsernameBtn"z>Edit</button>
          </p>
          <p>Email: <span id="emailSpan"><%= user.email %> </span>
            <button class="edit-btn" id="editEmailBtn">Edit</button>
          </p>
        </div>
        <div class="language-dropdown">
          <label for="languageSelect">Language:</label>
          <select id="languageSelect">
            <option value="en" selected>English</option>
          </select>
        </div>
        <button id="deleteAccountBtn" class="delete-button">Delete Account</button>
      </div>
    </div>
    <div class="custom-alert">
      <span class="close-btn">&times;</span>
      <p id="errorPopup"></p>
    </div>
  </body>
</html>